*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    --verdeFundo: rgb(15, 161, 15);
    --cinzaFundo: #363F4D;
    --cinza: #20242b;
    --verde: rgb(54, 231, 54);
    --borda: rgba(0, 0, 0, 0.199);
    font-family: 'Poppins','Calibri';
    font-size: 62.5%;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* Menu */
header{
    border-bottom: 1px solid rgba(0, 0, 0, 0.199);
}
.menu-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin: 0 10px;
}
@media (min-width: 1350px){
    header .menu-container{
        justify-content: space-around;
    }
}
.logotipo h1 a{
    font-size: 3rem;
    letter-spacing: 2px;
}
nav a{
    margin-right: 8px;
    padding: 5px;
    transition-duration: 0.4s;
}
nav a:hover{
    background:rgb(15, 161, 15);
    color: white;
}
.menu-toggle{
    display: none;
    width: 40px;
    height: 30px;
    margin-right: 40px;
    cursor: pointer;
    transition-duration: 0.4s;
    margin-bottom: 5px;
}
.one,
.two,
.three{
  background: black;
  height: 5px;
  width: 100%;
  margin: 6px auto;
  transition-duration: 0.3s;
}
@media (max-width:800px){
    nav{
        display: none;
    }
    .menu-toggle{
        display: block;
    }
    .menu-container.on{
        justify-content: flex-end;
    }
    .menu-container.on .logotipo{
        display: none;
    }
    .menu-container.on nav{
        /*Elementos do container */
        display: flex;
        flex-direction: column;
        text-align: center;
        /* Posicionamento do container */
        z-index: 10;
        position: absolute;
        top: 42px;
        left: 0;
        background: white;
        height: 100vh;
        width: 100vw;
    }
    .menu-container.on nav a{
        margin-top: 2rem;
        padding: 2rem;
    }
    .menu-container.on .menu-toggle{
        margin-top: 5px;
    }
    .menu-container.on .menu-toggle .one{
        transform: rotate(45deg) translate(7px, 7px);
    }
    .menu-container.on .menu-toggle .two{
        opacity: 0;
    }
    .menu-container.on .menu-toggle .three{
        transform: rotate(-45deg) translate(7px, -9px);
    }
}
.selecionado{
    background: rgb(54, 231, 54);
    
}
.selecionado:hover{
    border: none;
}
.linhaV{
    display: flex;
    justify-content: center;
    height: 132px;
    width: 1px;
    background: rgb(224, 221, 221);
    margin: 0 40px ;
}
.linhaH{
    height: 1px;
    background: rgba(128, 128, 128, 0.308);
    margin: 10px;
}
input{
    font-size: 14pt;
 
}
p{
    font-size:13pt;
}
h3{
    font-size: 18pt;
}
h2{
    font-size: 20pt;
}
h1{
    font-size: 25pt;
}
a{
    font-size: 14pt;
    color: var(--cinzaFundo);
}
footer{
    text-align: center;
    background: var(--cinza);
    font-size: 14pt;
    color: white;
    padding: 25px;
    position:relative;
    bottom:0;
    width: 100%;
    
}

.botao-estilo{
    background: var(--verdeFundo);
    color: white;
    padding: 10px;
    font-size: 14pt;
    font-weight: 400;
    transition: all 0.4s;
    border: none;
    cursor: pointer;
}
.botao-estilo:hover{
    background: var(--verde);
    color: black;
    
}